[Unit]
Description=vascular-tgfb1
After=network.target

[Service]
User=ubuntu
Group=ubuntu
ExecStart=/home/ubuntu/cancer_heterogeneity/start_analysis.sh

[Install]
WantedBy=multi-user.target
Alias=vtgfb.service
